body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#logoTiendaHeader {
    width: 3.125rem;/*50px*/
    height: 3.125rem;/*50px*/
}

#listaInicio li::before {
    content: "🧊 "; 
    margin-right: 0.625rem; 
    font-size: 1rem; 
}

#listaInicio {
    list-style: none;
}

#listaTitulo {
    list-style: none;
}

#navegador {
    background-color: #383838;
}

#footer {
    min-height: 6.25rem;
    background-color: #383838;
    margin-bottom: 0rem;
    width: 100%;
}

main {
    height: 100%;
}