body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#logoTiendaHeader {
    width: 3.125rem;/*50px*/
    height: 3.125rem;/*50px*/
}

#enlaceNombreTiendaHeader {
    color: white;
    text-decoration: none;
}

#listaInicio li::before {
    content: "🧊 "; 
    margin-right: 0.625rem; 
    font-size: 1rem; 
}

#listaInicio {
    list-style: none;
}

#listaTitulo {
    list-style: none;
}

#navegador {
    background-color: rgb(84, 84, 172);
}

.navbar-toggler {
    background-color: white;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

#navegador li a {
    color: white;
}

#footer {
    min-height: 6.25rem;
    background-color: rgb(84, 84, 172);
    margin-bottom: 0rem;
    width: 100%;
}

main {
    height: 100%;
}

.imagenProducto img {
    max-height: 20rem;
}

.map-container {
    border: 0.3125rem solid rgb(84, 84, 172);
}

.form-container {
    max-width: 37.5rem;
    margin: 0 auto;
    border: 0.3125rem solid rgb(84, 84, 172);
    border-radius: 0.625rem;
    background-color: #f9f9f9;
}

.form-container .form-label {
    font-weight: bold;
}

.btn {
    background-color: rgb(84, 84, 172);
    color: white;
}

.btn:hover {
    background-color: rgb(84, 84, 172, 0.8);
    color: white;
}

#idThead th {
    color: white;
    background-color: rgb(84, 84, 172);
}

.btn-cart {
    background-color: rgb(84, 84, 172);
    color: white;
    border: none;
}
.btn-cart:hover {
    background-color: rgb(84, 84, 172, 0.8);
}


.product-card {
    background-color: white;
    border-radius: 0.625rem;
    border: 0.3125rem solid rgb(84, 84, 172);
}

.price {
    font-size: 1.875rem;
    font-weight: bold;
    color: black;
}

.etiquetaProducto {
    color: rgb(84, 84, 172);
    font-weight: bold;
}

.custom-table {
    border: 0.3125rem solid rgb(84, 84, 172); 
}

.custom-table td,.custom-table th {
    border: 0.3125rem solid rgb(84, 84, 172); 
}

/* Posicionar los indicadores del carrusel debajo de las imágenes. */
.carousel-indicators {
    position: absolute;
    bottom: -1.5625rem;/*-25px*/
}

/* Poner color de fondo a los indicadores inactivos del carrusel. */
.carousel-indicators button:not(.active) {
    background-color: grey;
}

/* Poner color de fondo a los indicadores activos del carrusel. */
.carousel-indicators .active {
    background-color: rgb(84, 84, 172);
}

/* Poner tamaño (anchura y altura), color de fondo semitransparente, borde redondeado, relleno a los dos controles del carrusel y poner los 
controles del carrusel en el centro. */
.carousel-control-prev, .carousel-control-next {
    width: 2.5rem;/*40px*/
    height: 2.5rem;/*40px*/
    background-color: rgb(84, 84, 172, 0.5);
    border-radius: 50%;
    padding: 0.625rem;/*10px*/
    transform: translateY(-50%);
}

/* Cambiar el color de los controles del carrusel cuando se pasa el ratón por encima. */
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgb(84, 84, 172);
}

/* Poner tamaño de letra a los iconos del carrusel "<,>" y altura de línea para evitar que los iconos se desplacen. */
.carousel-control-prev span, .carousel-control-next span {
    font-size: 1.875rem; /*30px*/
    line-height: 1;
}

/* Poner a la izquierda el control anterior del carrusel. */
.carousel-control-prev {
    position: absolute;
    top: 45%;
    left: 0.2%;
}

/* Poner a la derecha el control siguiente del carrusel. */
.carousel-control-next {
    position: absolute;
    top: 45%;
    right: 0.2%;
}

/* Poner tamaño (anchura y altura), color de fondo semitransparente, borde redondeado, relleno a los dos controles del carrusel y poner los 
controles del carrusel en el centro. */
#carouselProductosResponsive .carousel-control-prev, .carousel-control-next {
    width: 2.5rem;/*40px*/
    height: 2.5rem;/*40px*/
    background-color: rgb(84, 84, 172, 0.5);
    border-radius: 50%;
    padding: 0.625rem;/*10px*/
    transform: translateY(-50%);
}

/* Cambiar el color de los controles del carrusel cuando se pasa el ratón por encima. */
#carouselProductosResponsive .carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgb(84, 84, 172);
}

/* Poner tamaño de letra a los iconos del carrusel "<,>" y altura de línea para evitar que los iconos se desplacen. */
#carouselProductosResponsive .carousel-control-prev span, .carousel-control-next span {
    font-size: 1.875rem; /*30px*/
    line-height: 1;
}

/* Poner a la izquierda el control anterior del carrusel. */
#carouselProductosResponsive .carousel-control-prev {
    position: absolute;
    top: 50%;
}

/* Poner a la derecha el control siguiente del carrusel. */
#carouselProductosResponsive .carousel-control-next {
    position: absolute;
    top: 50%;
}

button.carousel-control-next, button.carousel-control-prev {
    top: 50%;
}

span.carousel-control-next {
    margin-right: 10px;
    
}

#enlaceMapaWeb {
    text-decoration: none;
}

#enlaceMapaWeb:hover {
    text-decoration: underline;
}

#enlaceMapaWeb.active {
    text-decoration: underline;
}

.sublistaMapaWeb li::before {
    content: "🧊 "; 
    margin-right: 0.625rem; 
    font-size: 1rem; 
}

.sublistaMapaWeb {
    list-style: none;
}

.navegacionMapaWeb {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.navegacionMapaWeb:hover {
    text-decoration: underline;
}

.carousel-inner a {
color: rgb(84, 84, 172);
text-decoration: none;
}

.carousel-inner a:hover {
    font-size: 2.2rem;
    cursor: pointer;
    text-decoration: none;
}

#registrateAqui {
    color: rgb(84, 84, 172);
}

#registrateAqui:hover {
    color: rgb(84, 84, 172, 0.8);
}

#enlaces li a {
    color: rgb(84, 84, 172);
}

#enlaces li a:hover {
    color: rgb(84, 84, 172,0.8);
}

/* Poner color de letra y eliminar subrayado a los elementos que tienen la clase .enlaceLila. */
.enlaceLila {
    color: #5454AC;
    text-decoration: none;
}

/* Poner subrayado a los elementos que tienen la clase .enlaceLila cuando se pasa el ratón por encima. */
.enlaceLila:hover {
    text-decoration: underline;
}

.breadcrumb .active {
    color: #5454AC;
}

/* Agregar antes ">" y ponerle color a los separadores de las migas de pan pero no lo agrega antes del primer elemento de las migas de pan. */
.breadcrumb-item + .breadcrumb-item::before {
    content: " > ";
    color: #5454AC;
}

/* Mantenemos el ancho en 75% con un ajuste automático de la altura y evitamos deformaciones de relación con object-fit:cover. */
#fotoPerfil1 {
    width: 75%;  
    height: auto;  
    object-fit: cover; 
}

/* Añadimos un ancho de 1.875rem, background-color:white border-radius:100% y padding: 0.3125rem al logo del carrito en el header. */
#logoCarritoHeader {
    width: 1.875rem;
    background-color: white;
    border-radius: 100%;
    padding: 0.3125rem;
}

/* Hover de li-header con underline en blanco */
.navbar-nav .nav-item:hover {
    text-decoration: underline;
    color: white;
}

/* Añadimos un subrayado en color blanco para el item activo */
.navbar-nav .nav-item.active {
    text-decoration: underline; 
    color: white; 
}

/* Borde resaltado en amarillo con efecto de brillo aumentando ligeramente su tamaño para resaltar el boton al tabular. */
.btn:focus {
    outline: 3px solid #ffcc00; 
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
    transform: scale(1.05); 
    transition: all 0.2s ease-in-out;
    background-color: rgb(84, 84, 172);
    color: white;
}

/* Borde resaltado en amarillo con efecto de brillo aumentando ligeramente su tamaño para resaltar el boton al tabular en los 3 productos_detalle. */
.btn-cart:focus {
    outline: 3px solid #ffcc00; 
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
    transform: scale(1.05); 
    transition: all 0.2s ease-in-out;
    background-color: rgb(84, 84, 172);
    color: white;
}