/* Añadimos a body un font-family con un background color white. */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* Le damos a los H1 un tamaño de fuente predefinido de 2 rem. */
h1 {
    font-size: 2rem;
}

/* En el id logoRiendaHeades añadimos las propiedades width con 3.125rem y height con 3.125rem. */
#logoTiendaHeader {
    width: 3.125rem;/*50px*/
    height: 3.125rem;/*50px*/
}

/* En el id enlaceNombreTiendaHeader añadimos un color white y text-decoration:none. */
#enlaceNombreTiendaHeader {
    color: white;
    text-decoration: none;
}

/* En el id listaInicio li::before agregamos un content: "🧊 ", margin-right: 0.625rem y font-size de 1rem. */
#listaInicio li::before {
    content: "🧊 "; 
    margin-right: 0.625rem; 
    font-size: 1rem; 
}

/* En el id listaInicio aplicamos un list-style:none. */
#listaInicio {
    list-style: none;
}

/* En el id listaTitulo aplicamos un list-style:none. */
#listaTitulo {
    list-style: none;
}

/* En id navegador agregamos un background-color: rgb(84, 84, 172). */
#navegador {
    background-color: rgb(84, 84, 172);
}

/* En la clase navbar-toggler agregamos un background-color: white. */
.navbar-toggler {
    background-color: white;
}

/* Para las clases navbar-toggler:focus y navbar-toggler:active añadimos un outline: none, box-shadow: none y border: none. */
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    border: none;
}

/* En el id navegador li a añadimos un color white. */
#navegador li a {
    color: white;
}

/* En el id footer agregamos un min-height de 6.25rem, background-color: rgb(84, 84, 172), margin-bottom: 0rem y width al 100%. */
#footer {
    min-height: 6.25rem;
    background-color: rgb(84, 84, 172);
    margin-bottom: 0rem;
    width: 100%;
}

/* En main añadimos un height del 100%. */
main {
    height: 100%;
}

/* En la clase imagenPoducto img añadimos un max-height de 20rem. */
.imagenProducto img {
    max-height: 20rem;
}

/* En la clase map-container agregamos un border: 0.3125rem solid rgb(84, 84, 172). */
.map-container {
    border: 0.3125rem solid rgb(84, 84, 172);
}

/* En la clase form-container añadimos un max-width de 37.5rem, margin: 0 auto, border: 0.3125rem solid rgb(84, 84, 172),  border-radius de 0.625rem y background-color: #f9f9f9. */
.form-container {
    max-width: 37.5rem;
    margin: 0 auto;
    border: 0.3125rem solid rgb(84, 84, 172);
    border-radius: 0.625rem;
    background-color: rgb(249, 249, 249);
}

/* En la clase form -container y form-label añadimos un font-weight:bold. */
.form-container .form-label {
    font-weight: bold;
}

/* En la clase btn agregamos un background-color: rgb(84, 84, 172) y un color white. */
.btn {
    background-color: rgb(84, 84, 172);
    color: white;
}

/* En la clase btn:hover agregamos un background-color: rgb(84, 84, 172, 0.8) y un color white. */
.btn:hover {
    background-color: rgb(84, 84, 172, 0.8);
    color: white;
}

/* En el id idThead th añadimos un color white y background-color: rgb(84, 84, 172). */
#idThead th {
    color: white;
    background-color: rgb(84, 84, 172);
}

/* En la clase btn-cart añadimos un background-color: rgb(84, 84, 172), color white y border:none. */
.btn-cart {
    background-color: rgb(84, 84, 172);
    color: white;
    border: none;
}

/* En la clase btn-cart:hover agregamos un background-color: rgb(84, 84, 172, 0.8). */
.btn-cart:hover {
    background-color: rgb(84, 84, 172, 0.8);
}

/* En la clase product-card añadimos un background-color: white, border-radius de 0.625rem y border: 0.3125rem solid rgb(84, 84, 172). */
.product-card {
    background-color: white;
    border-radius: 0.625rem;
    border: 0.3125rem solid rgb(84, 84, 172);
}

/* En la clase price agregamos un font-size de 1.875rem, font-weight: bold y color black. */
.price {
    font-size: 1.875rem;
    font-weight: bold;
    color: black;
}

/* En la clase etiquetaProducto agregamos un color: rgb(84, 84, 172) y font-weight: bold. */
.etiquetaProducto {
    color: rgb(84, 84, 172);
    font-weight: bold;
}

/* En la clase custom-table añadimos un border de 0.3125rem solid rgb(84, 84, 172). */
.custom-table {
    border: 0.3125rem solid rgb(84, 84, 172); 
}

/* En la clase custom-table td y el la clase custom-table th añadimos un border de 0.3125rem solid rgb(84, 84, 172). */
.custom-table td,.custom-table th {
    border: 0.3125rem solid rgb(84, 84, 172); 
}

/* Posicionar los indicadores del carrusel debajo de las imágenes. */
.carousel-indicators {
    position: absolute;
    bottom: -1.5625rem;/*-25px*/
}

/* Poner color de fondo a los indicadores inactivos del carrusel. */
.carousel-indicators button:not(.active) {
    background-color: grey;
}

/* Poner color de fondo a los indicadores activos del carrusel. */
.carousel-indicators .active {
    background-color: rgb(84, 84, 172);
}

/* Poner tamaño (anchura y altura), color de fondo semitransparente, borde redondeado, relleno a los dos controles del carrusel y poner los 
controles del carrusel en el centro. */
.carousel-control-prev, .carousel-control-next {
    width: 2.5rem;/*40px*/
    height: 2.5rem;/*40px*/
    background-color: rgb(84, 84, 172, 0.5);
    border-radius: 50%;
    padding: 0.625rem;/*10px*/
    transform: translateY(-50%);
}

/*Cambiar el color de los controles del carrusel cuando se pasa el ratón por encima. */
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgb(84, 84, 172);
}

/* Poner tamaño de letra a los iconos del carrusel "<,>" y altura de línea para evitar que los iconos se desplacen. */
.carousel-control-prev span, .carousel-control-next span {
    font-size: 1.875rem; /*30px*/
    line-height: 1;
}

/* Poner a la izquierda el control anterior del carrusel. */
.carousel-control-prev {
    position: absolute;
    top: 45%;
} 

/* Poner a la derecha el control siguiente del carrusel. */
.carousel-control-next {
    position: absolute;
    top: 45%;
}

/* En las clases button.carousel-control-next y button.carousel-control-prev agregamos un top del 50%. */
button.carousel-control-next, button.carousel-control-prev {
    top: 50%;
} 

/* En el id mainCarrusel agregamos un position: relative con un padding de 3.125rem. */
#mainCarrusel {
position: relative;
padding: 3.125rem;
}

/* En el id enlaceMapaWeb agregamos un text-decoration: none. */
#enlaceMapaWeb {
    text-decoration: none;
}

/* En el id enlaceMapaWeb:hover agregamos un text-decoration: underline. */
#enlaceMapaWeb:hover {
    text-decoration: underline;
}

/* En el id enlaceMapaWeb.active añadimos un text-decoration: underline. */
#enlaceMapaWeb.active {
    text-decoration: underline;
}

/* En la clase sublistaMapaWeb li::before añadimos un content: "🧊 ", margin-right de 0.625rem y font-size de 1rem. */
.sublistaMapaWeb li::before {
    content: "🧊 "; 
    margin-right: 0.625rem; 
    font-size: 1rem; 
}

/* En la clase sublistaMapaWeb agregamos un list-style: none. */
.sublistaMapaWeb {
    list-style: none;
}

/* En la clase navegacionMapaWeb agregamos un color black, text-decoration: none y font-weight: bold. */
.navegacionMapaWeb {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* En la clase navegacionMapaWeb:hover añadimos un text-decoration: underline. */
.navegacionMapaWeb:hover {
    text-decoration: underline;
}

/* Añadimos el color rgb(84, 84, 172,0.8) y text-decoration:none a nuestra clase carousel-inner a. */
.carousel-inner a {
color: rgb(84, 84, 172);
text-decoration: none;
}

/* Añadimos un font-size de 2.2rem, text-decoration:none y cursor:pointer a nuestra clase carousel-inner a al hacer hover. */
.carousel-inner a:hover {
    font-size: 2.2rem;
    cursor: pointer;
    text-decoration: none;
}
/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro id registrateAqui. */
#registrateAqui {
    color: rgb(84, 84, 172);
}

/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro id registrateAqui al hacer hover. */
#registrateAqui:hover {
    color: rgb(84, 84, 172, 0.8);
}
/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro id recuperarContraseña. */
#recuperarContraseña {
    color: rgb(84, 84, 172);
}
/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro id recuperarContraseña al hacer hover. */
#recuperarContraseña:hover {
    color: rgb(84, 84, 172, 0.8);
}

/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro li. */
#enlaces li a {
    color: rgb(84, 84, 172);
}

/* Añadimos el color rgb(84, 84, 172,0.8) a nuestro li al hacer hover. */
#enlaces li a:hover {
    color: rgb(84, 84, 172,0.8);
}

/* Poner color de letra y eliminar subrayado a los elementos que tienen la clase .enlaceLila. */
.enlaceLila {
    color: rgb(84, 84, 172);
    text-decoration: none;
}

/* Poner subrayado a los elementos que tienen la clase .enlaceLila cuando se pasa el ratón por encima. */
.enlaceLila:hover {
    text-decoration: underline;
}

/* En la clase breadcrumb .active añadimos un color de rgb(84, 84, 172). */
.breadcrumb .active {
    color: rgb(84, 84, 172);
}

/* Agregar antes ">" y ponerle color a los separadores de las migas de pan pero no lo agrega antes del primer elemento de las migas de pan. */
.breadcrumb-item + .breadcrumb-item::before {
    content: " > ";
    color: rgb(84, 84, 172);
}

/* Mantenemos el ancho en 75% con un ajuste automático de la altura y evitamos deformaciones de relación con object-fit:cover. */
#fotoPerfil1 {
    width: 75%;  
    height: auto;  
    object-fit: cover; 
}

/* Añadimos un ancho de 1.875rem, background-color:white border-radius:100% y padding: 0.3125rem al logo del carrito en el header. */
#logoCarritoHeader {
    width: 1.875rem;
    background-color: white;
    border-radius: 100%;
    padding: 0.3125rem;
}

/* Hover de li-header con underline en blanco */
.navbar-nav .nav-item:hover {
    text-decoration: underline;
    color: white;
}

/* Añadimos un subrayado en color blanco para el item activo */
.navbar-nav .nav-item.active {
    text-decoration: underline; 
    color: white; 
}

/* Borde resaltado en amarillo con efecto de brillo aumentando ligeramente su tamaño para resaltar el boton al tabular. */
.btn:focus {
    outline: 3px solid rgb(255, 204, 0); 
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
    transform: scale(1.05); 
    transition: all 0.2s ease-in-out;
    background-color: rgb(84, 84, 172);
    color: white;
}

/* Borde resaltado en amarillo con efecto de brillo aumentando ligeramente su tamaño para resaltar el boton al tabular en los 3 productos_detalle. */
.btn-cart:focus {
    outline: 3px solid rgb(255, 204, 0); 
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7);
    transform: scale(1.05); 
    transition: all 0.2s ease-in-out;
    background-color: rgb(84, 84, 172);
    color: white;
}
